{
  "extends": ["react-app", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "Semicolons": true,
        "singleQuote": true,
        "bracketSpacing": false,
        "jsxBracketSameLine": true,
        "arrowParens": "avoid"
      }
    ]
  },
  "plugins": ["prettier"]
}
